# pip install -r requirements.txt
numpy==2.1.1
pandas==2.2.3
streamlit==1.38.0
matplotlib
seaborn
tqdm
scikit-learn
ipykernel

openai 
datasets
trl
peft==0.12
accelerate
bitsandbytes
huggingface_hub

# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# https://pytorch.org/get-started/locally/
